In [26]:
# Regular Boosting Algoritnm

In [27]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.ensemble import GradientBoostingClassifier

In [28]:
train_data = pd.read_csv("/home/garv/Desktop/train.csv")
test_data = pd.read_csv("/home/garv/Desktop/test.csv")

In [29]:
y_train = train_data["Survived"]
train_data.drop(labels= "Survived", axis=1, inplace=True)

In [30]:
full_data = train_data.append(test_data)

In [31]:
drop_columns = ["Name", "Age", "SibSp","Ticket","Cabin","Parch","Embarked"]
full_data.drop(labels= drop_columns, axis=1, inplace=True)

In [32]:
train_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [33]:
train_data.shape

(891, 11)

In [34]:
# Any text data needs to be converted into numbers that our model can use,
# We'll also fill any empty cells with 0:
full_data = pd.get_dummies(full_data, columns=["Sex"])
full_data.fillna(value=0.0, inplace=True)

In [36]:
full_data.head()

   PassengerId  Pclass     Fare  Sex_female  Sex_male
0            1       3   7.2500           0         1
1            2       1  71.2833           1         0
2            3       3   7.9250           1         0
3            4       1  53.1000           1         0
4            5       3   8.0500           0         1

In [38]:
x_train = full_data.values[0:891]
x_test = full_data.values[891:]

In [40]:
#Feature Scaling
# We'll now scale our data by creating an instance of the scaler and scaling it:

scaler = MinMaxScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [43]:
# Now we can split the data into training and testing sets. 
# Let's also set a seed (so you can replicate the results) and select 
# the percentage of the data for testing on:

state = 12
test_size = 0.30
x_train, x_val, y_train, y_val = train_test_split(x_train, y_train, test_size = test_size, random_state = state)

In [44]:
# Now we can try setting different learning rates, so that we can 
# compare the performance of the classifier's performance at different
# learning rates.

lr_list = [0.05, 0.075, 0.1, 0.25, 0.5, 0.75, 1]
for learning_rate in lr_list:
    gb_clf = GradientBoostingClassifier(n_estimators=20, learning_rate=learning_rate, max_features=2, max_depth=2, random_state=0)
    gb_clf.fit(x_train, y_train)

    print("Learning rate: ", learning_rate)
    print("Accuracy score (training): {0:.3f}".format(gb_clf.score(x_train, y_train)))
    print("Accuracy score (validation): {0:.3f}".format(gb_clf.score(x_val, y_val)))

Learning rate:  0.05
Accuracy score (training): 0.801
Accuracy score (validation): 0.731
Learning rate:  0.075
Accuracy score (training): 0.814
Accuracy score (validation): 0.731
Learning rate:  0.1
Accuracy score (training): 0.812
Accuracy score (validation): 0.724
Learning rate:  0.25
Accuracy score (training): 0.835
Accuracy score (validation): 0.750
Learning rate:  0.5
Accuracy score (training): 0.864
Accuracy score (validation): 0.772
Learning rate:  0.75
Accuracy score (training): 0.875
Accuracy score (validation): 0.754
Learning rate:  1
Accuracy score (training): 0.875
Accuracy score (validation): 0.739

In [45]:
#We're mainly interested in the classifier's accuracy on the 
# validation set, but it looks like a learning rate of 0.5 gives us 
# the best performance on the validation set and good performance on
# the training set.

In [47]:
gb_clf2 = GradientBoostingClassifier(n_estimators=20, learning_rate=0.5, max_features=2, max_depth=2, random_state=0)
gb_clf2.fit(x_train, y_train)
predictions = gb_clf2.predict(x_val)

print("Confusion Matrix:")
print(confusion_matrix(y_val, predictions))

print("Classification Report")
print(classification_report(y_val, predictions))

Confusion Matrix:
[[142  19]
 [ 42  65]]
Classification Report
              precision    recall  f1-score   support

           0       0.77      0.88      0.82       161
           1       0.77      0.61      0.68       107

    accuracy                           0.77       268
   macro avg       0.77      0.74      0.75       268
weighted avg       0.77      0.77      0.77       268

In [48]:
# XGBoost Classifier

In [50]:
from xgboost import XGBClassifier

ModuleNotFoundError: No module named 'xgboost'

In [ ]:
xgb_clf = XGBClassifier()
xgb_clf.fit(x_train, y_train)

In [ ]:
score = xgb_clf.score(x_val, y_val)
print(score)